/**
 * @file
 * CSS for sharebuttons module
 */

#sharebuttons-widget {
  display: block;
}

#sharebuttons-widget ul,
ul.sharebuttons {
  padding: 0px;
  list-style: none;
}

/* Alignment can be set @url /admin/config/services/sharebuttons */
.vertical .sharebutton {
}
.horizontal .sharebutton {
  display: inline-block;
}
.sharebutton {
  clear: both;
}

/* CSS per plugin */
.sharebutton.facebook {
}
.sharebutton.twitter {
}
.sharebutton.linkedin {
}
.sharebutton.google {
}

/* fixes for facebook not centering */
.fb-like.fb_iframe_widget {
  float: left;
}
.vertical .fb-like.fb_iframe_widget {
  margin-bottom: 4px;
}
